#showParagraph1
{
	border: 1px solid blue;
    padding: 10px;
	background-color:aqua;
	border-radius: 10px;
    width: 50%;
}
#showParagraph2
{
	border: 1px solid blue;
    padding: 10px;
	background-color:aqua;
	border-radius: 10px;
    width: 50%;
}